{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}URL to PDF{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}


{% block main %}

<style>
#id_url {
    width: 500px;
}
</style>


    <h1>URL to PDF Converter</h1>
    <p>This form uses <a href="http://phantomjs.org/">PhantomJS</a> to transform any<a href="#note">*</a> given URL to a PDF, downloaded straight to your desktop!</p>
    <p>All URLs must start with http:// or https://</p>
    <form method="POST" class="" style="text-align:center;">{% csrf_token %}
        {% if errors %}
            <div style="color:red">{{ errors }}<br/></div>
        {% endif %}
            <label>URL:</label>
            {{ form.url }}
        <br/>
        <br/>
        <button type="submit">Get me the PDF!</button>
    </form>
    <p><b id="note">*</b>Note: We can't get into websites that require a login!</p>

{% endblock %}
