{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags %}
{% block headTags %}
{#    {{ block.super }}#}
    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} {{ settings.SITE_TITLE }} | {{ settings.SITE_TAGLINE }}{% endif %}</title>
{% endblock %}
{% block intro %}
    <section class="intro">
        <div class="intro-body">
            <div class="huge">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <!-- <img class="logo" src="img/logo.png" alt="" /> -->
                        <!--<h1 class="brand-heading">segue</h1>-->
                        <p class="intro-text"></p>
                        <div class="page-scroll">
                            <a href="#blog" class="btn btn-circle">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block main %}


<section id="blog" class="container content-section text-center">
{#        <div class="row">#}
{#            <div class="col-lg-12 col-lg-offset-2">#}
                <!-- Recent Posts -->
        <h1>Max Rozen - <a href="https://twitter.com/mxrozen" target="_blank">@MxRozen</a></h1>
            <p>

            </p>
                {% load blog_tags keyword_tags i18n %}
                {% blog_recent_posts 5 as recent_posts %}
                {% if recent_posts %}
                    <h2>Recent Articles/Posts </h2>
                    {% for recent_post in recent_posts %}
                        <h3>
                            <a href="{{ recent_post.get_absolute_url }}">
                            {{ recent_post.title }}</a>
                        </h3>

                    <h4>{{ recent_post.publish_date|timesince }} {% trans "ago" %}</h4>
                    <div class="clearfix recent-summary">
                    {{ recent_post.description_from_content|safe }}
                    <a href="{{ recent_post.get_absolute_url }}" class="label label-inverse">{% trans "read more&hellip;" %}</a>
                    <hr>
                     </div><!-- /recent-summary -->
                    {% endfor %}
                {% endif %}
{#            </div><!-- /Recent Posts -->#}


{#        </div>#}
</section>
{% endblock %}

{% block footerOverride %}


    <footer class="clearfix">
        <section class="copyright">
                © <a href="http://linkedin.com/in/rozenmd" target="_blank">Max Rozen</a> {% now "Y" %}
        </section>
    </footer>
{% endblock %}
